@{
    ViewData["Title"] = "Configuracion";
}
<body>
  <div id="contenedor">
    <a class="btn btn-secondary align-right" style="display: block; width: 15%; margin-left: 85%;" href='@Url.Action("Index", "Home")'> Volver a la Home </a>

    <h1 class="display-3 textCenter"> Configuracion </h1>

    <div class="d-flex">
      <button class="apostar mt-3 mb-3" onclick='modal();'> Agregar Jugador </button>
      <div id="modal" style="display: none;" class="box-shadow box-shadow-lg">
          <form method="post" action='@Url.Action("GuardarJugador", "Home")' class="d-flex justify-content-around p-1">
              <input type="text" class="text-dark" name="Nombre" required autocomplete="off" placeholder="Nombre">

              <input type="text" class="text-dark" name="Saldo" required autocomplete="off" placeholder="Saldo">

            <input type="submit" value="Agregar" class="apostar">

          </form>
      </div>  
    </div>
    

    <form class="tabla" action='@Url.Action("CargarPartida", "Home")' method="POST">
      <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Saldo</th>
            <th scope="col">Record</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Cargar Plata</th>
            <th scope="col">Juega</th>
          </tr>
        </thead>
        <tbody>
          @foreach(Jugador jug in @ViewBag.ListaJugadores){
            <tr>
              <th scope="row">@jug.IdJugador</th>
              <td>@jug.Nombre</td>
              <td>@jug.Saldo</td>
              <td>@jug.Record</td>
              <td> <a class="pasar" href='@Url.Action("EliminarJugador", "Home", new {id = @jug.IdJugador})'> Eliminar </a></td>
              <td> <input id="@jug.IdJugador" type="number" min="100" style="color: black; font-weight: 1000; width: 30%;"> <button type="button" class="apostar" onclick='cargar(@jug.IdJugador, $("#@jug.IdJugador").val());'> Cargar </button></td>
              <td>
                <div class="form-check align-center">
                  <input type="checkbox" class="form-check-input" id="@jug.IdJugador" name="idsJugando[]" value="@jug.IdJugador" style="height: 30px; width: 30px;">
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <label class="textCenter"> Monto Inicial (cada uno):</label>
      <input type="range" class="w-100" id="points" name="montoInicial" min="100" max="500" value="69" oninput="this.nextElementSibling.value = this.value">
      <output class="textCenter">69</output>
      <input type="submit" class="btn botonJugar mt-5 " value="Jugar">
    </form>

  </div>
</body>

<script>
  function modal(){
    document.getElementById("modal").style = "display: block;";
  }

  function cargar(id, monto){
    $.ajax({
        url: '/Home/CargarPlata',
        type:'POST',
        data: {monto: monto, id: parseInt(id)}        
    });
  }
</script>