@{
    ViewData["Title"] = "Juego";
}

<p> @ViewBag.ListaJugadores[@ViewBag.Turno].Nombre </p>
<p> @ViewBag.ListaJugadores[@ViewBag.Turno].Saldo </p>
<h1> @ViewBag.MontoPozo </h1>

<img class="imagenesCartas" src="@ViewBag.Cartas[0].Foto">
<img class="imagenesCartas" src="@ViewBag.Cartas[1].Foto">

<input type="number" id="apuesta" min="100" max="@ViewBag.MontoPozo" required autocomplete="off">

<button class="btn" onclick="apostar()"> Apostar </button>
<a class="btn" href='@Url.Action("Jugar", "Home")'> Pasar </a>

<script>
    function apostar(){
        $.ajax({
            url: '/Home/Apuesta',
            data: {montoApostado: $("#apuesta").val(), indexJugador: @ViewBag.Turno, primerasCartas: @ViewBag.Cartas},
            type:'POST',
            dataType:'JSON',            
            success:
                function (){
                    <a class="btn btn-secondary" href='@Url.Action("Jugar", "Home")'> Siguiente </a>
                },
            error:
                function(){
                    console.log('error');
                }
        });
    }
</script>