@{
    ViewData["Title"] = "Juego";
}

<p> @ViewBag.ListaJugadores[@ViewBag.Turno].Nombre </p>
<p> @ViewBag.ListaJugadores[@ViewBag.Turno].Saldo </p>
<h1> @ViewBag.MontoPozo </h1>

<img class="imagenesCartas" src="@ViewBag.Cartas[0].Foto">
<img class="imagenesCartas" src="@ViewBag.Cartas[1].Foto">

<input type="number" id="apuesta" min="100" max="@ViewBag.MontoPozo" required autocomplete="off">

<button class="btn btn-secondary" onclick='Apostar(@ViewBag.Turno, @ViewBag.Cartas[0].Numero, @ViewBag.Cartas[1].Numero)'> Apostar </button>
<a class="btn btn-danger" href='@Url.Action("Jugar", "Home")'> Pasar </a>

<script>
    var aux = document.getElementById("apuesta").value;
    function Apostar(iJ, c1, c2){
        $.ajax({
            url: '/Home/Apuesta',
            data: {montoApostado: aux, indexJugador: iJ, primeraCarta: c1, segundaCarta: c2},
            type:'POST',        
            success:
                function (){
                    console.log("hola");
                },
            error:
                function(){
                    console.log('error');
                }
        });
        
    }

</script>